﻿@model DataModel.User

@{
    ViewBag.Title = "AddUser";
    Layout = null;
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    
    <div class="row  myform">
        <div class="col-md-6 grid-margin stretch-card m-auto">
            <div class="card box-shadow">
                <div class="card-body text-center">
                    <a onclick="CloseForm();" class="crossbtn btn btn-link btn-sm float-right">X</a>
                    <h4 class="card-title">Create User</h4>
                    <div class="forms-sample">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model=>model.UserId)
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.UserTypeId, new SelectList(Model.lstUserType, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "ddlUserType" })
                            @Html.ValidationMessageFor(model => model.UserTypeId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile Number" } })
                            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "EmailId" } })

                            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(model => model.UserPassword,  htmlAttributes : new { @class = "form-control", @placeholder = "Password" , @Value = Model.UserPassword })
                            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group text-center m-0">
                            <button type="submit" onclick="validate();" class="btn btn-gradient-primary mr-2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

}
@section scripts{
 
}
