﻿@model DataModel.QuestionMaster
@{
    ViewBag.Title = "AddQuestion";
    Layout = null;
}
@using (Html.BeginForm("AddQuestions", "Exam"))
{
    @Html.AntiForgeryToken()
    <div class="row  myform">
        <div class="col-md-6 grid-margin stretch-card m-auto">
            <div class="card box-shadow">
                <div class="card-body text-center">
                    <a onclick="CloseForm();" class="crossbtn btn btn-link btn-sm float-right">X</a>
                    <h4 class="card-title">Add Answer Type</h4>
                    <div class="forms-sample">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.QuestionId)
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.CourseId, new SelectList(Model.ListCourse, "Value", "Text"), htmlAttributes: new { @class = "form-control"})
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.AnswerTypeId, new SelectList(Model.AnswerTypeList, "Value", "Text"), htmlAttributes: new { @class = "form-control"})
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control", @placeholder = "Question" } })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Marks, htmlAttributes: new { @class = "form-control", @placeholder = "Marks" })
                        </div>
                        <div class="form-group text-center m-0">
                            <button type="submit" onclick="validate();" class="btn btn-gradient-primary mr-2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
}
